<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container mt-5 p-5">
			<div class="row">
				<div class="col-md-6 offset-md-3 text-center">
					<i class="fa-solid fa-circle-check fa-5x" style="color: #f94f2f;"></i>
					<p class="fs-3" style="font-weight: bold; color: #f94f2f;">Product Ordered Successfully!</p>
					<p class="fs-4">Product will be delivered with in 7 days</p>
					<div class="text-center">
						<a href="/" class="btn btn-primary" style="background-color: #f94f2f; color: white; border-color: #f94f2f">Home</a>
						<a href="/user/user-orders"
							class="btn btn-primary" style="background-color: #f94f2f; color: white; border-color: #f94f2f">My Orders</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>