<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
<head>
	<meta charset="ISO-8859-1">
	<title>Home</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<style>
		.custom-navbar {
			background-color: #f94f2f !important;
		}

		.footer {
			background-color: #f94f2f;
			color: white;
			padding: 50px 0;
			margin-top: 30px;
		}

		.footer h5 {
			margin-bottom: 20px;
			font-weight: bold;
		}

		.footer ul {
			list-style: none;
			padding: 0;
		}

		.footer ul li {
			margin-bottom: 10px;
		}

		.footer ul li a {
			color: white;
			text-decoration: none;
		}

		.footer ul li a:hover {
			text-decoration: underline;
		}

		.social-icons a {
			color: white;
			margin-right: 15px;
			font-size: 20px;
		}

		.bottom-footer {
			background-color: #e63e1f;
			padding: 15px 0;
			margin-top: 30px;
		}
	</style>
</head>
<body>
	<!-- Start Navbar  -->
	<nav class="navbar navbar-expand-lg custom-navbar fixed-top navbar-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href=""><i
					class="fa-solid fa-cart-shopping"></i> G2Ecommerce</a>
			<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<th:block th:if="${user==null}">
						<li class="nav-item"><a class="nav-link active"
												aria-current="page" href="/"><i class="fa-solid fa-house"></i>
							Home</a></li>
					</th:block>

					<th:block th:unless="${user==null}">
						<li class="nav-item" th:if="${user.role=='ROLE_ADMIN'}"><a
								class="nav-link active" aria-current="page" href="/admin/"><i
								class="fa-solid fa-house"></i> Home</a></li>

						<li class="nav-item" th:if="${user.role=='ROLE_USER'}"><a
								class="nav-link active" aria-current="page" href="/"><i
								class="fa-solid fa-house"></i> Home</a></li>
					</th:block>

					<li class="nav-item"><a class="nav-link active"
											aria-current="page" href="/products">Product</a></li>

					<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#" role="button"
							data-bs-toggle="dropdown" aria-expanded="false"> Category </a>
						<ul class="dropdown-menu">
							<li th:each="c:${categorys}"><a class="dropdown-item"
															th:href="@{'/products?category='+${c.name}}">[[${c.name}]]</a></li>

						</ul></li>

				</ul>

				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<th:block th:if="${user==null}">
						<li class="nav-item"><a class="nav-link active"
												aria-current="page" href="/signin"><i
								class="fa-solid fa-right-to-bracket"></i> LOGIN</a></li>
						<li class="nav-item"><a class="nav-link active"
												aria-current="page" href="/register">REGISTER</a></li>

					</th:block>
					<th:block th:if="${user!=null}">
						<th:block th:if="${user.role=='ROLE_USER'}">
							<li class="nav-item"><a class="nav-link active"
													aria-current="page" href="/user/cart"><i
									class="fa-solid fa-cart-shopping"></i> Cart [ [[${countCart}]]
								]</a></li>
						</th:block>
						<li class="nav-item dropdown"><a
								class="nav-link dropdown-toggle active" href="#" role="button"
								data-bs-toggle="dropdown" aria-expanded="false"> <i
								class="fa-solid fa-user"></i> [[${user.name}]]
						</a>
							<ul class="dropdown-menu">
								<li th:if="${user.role=='ROLE_USER'}"><a
										class="dropdown-item" href="/user/profile">Profile</a></li>

								<li th:if="${user.role=='ROLE_ADMIN'}"><a
										class="dropdown-item" href="/admin/profile">Profile</a></li>

								<li th:if="${user.role=='ROLE_USER'}"><a
										class="dropdown-item" href="/user/user-orders">My Orders</a></li>
								<li><a class="dropdown-item" href="/logout">Logout</a></li>
								<li><hr class="dropdown-divider"></li>

							</ul></li>

						<!-- <li class="nav-item"><a class="nav-link active"
							aria-current="page" href="/logout"><i
								class="fa-solid fa-right-to-bracket"></i> Logout</a></li> -->
					</th:block>

				</ul>

			</div>
		</div>
	</nav>
	<!-- End Navbar -->

	<div th:replace="${content}"></div>

	<!-- Start Footer -->
	<!-- New Footer -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<h5>About Us</h5>
					<ul>
						<li><a href="#">About G2Ecommerce</a></li>
						<li><a href="#">Careers</a></li>
						<li><a href="#">Press Center</a></li>
						<li><a href="#">Our Blog</a></li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-6">
					<h5>Customer Service</h5>
					<ul>
						<li><a href="#">Help Center</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Returns & Refunds</a></li>
						<li><a href="#">Shipping Info</a></li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-6">
					<h5>Quick Links</h5>
					<ul>
						<li><a href="#">Special Offers</a></li>
						<li><a href="#">Gift Cards</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Terms of Service</a></li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-6">
					<h5>Connect With Us</h5>
					<div class="social-icons">
						<a href="#"><i class="fab fa-facebook"></i></a>
						<a href="#"><i class="fab fa-twitter"></i></a>
						<a href="#"><i class="fab fa-instagram"></i></a>
						<a href="#"><i class="fab fa-linkedin"></i></a>
					</div>
					<h5 class="mt-4">Newsletter</h5>
					<div class="input-group mb-3">
						<input type="email" class="form-control" placeholder="Your email">
						<button class="btn btn-light" type="button">Subscribe</button>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom-footer text-center">
			<div class="container">
				<p class="mb-0">&copy; 2024 G2Ecommerce. All rights reserved.</p>
			</div>
		</div>
	</footer>
	<!-- End Footer  -->

<!-- Jquery Validation Library  -->
<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script
		src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="../js/script.js"></script>
<!-- End  -->
<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
</body>
</html>